
 html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
a{
	color: black;
	text-decoration: none;
	font-size:22px: 
}

.sample{
	width: 100%;
            height: 40%;
            margin: 0;
            padding: 0;
            background-image: url('Images/proptiger.jpeg');
            background-size:cover;
            background-repeat: no-repeat; 
            position: relative;
            min-height: 310px;
            /*ask this*/
  }
  .placement{
  	text-align: center;
    color: white;
    position: relative;
    top: 125px;
    font-size: 38px;

  }
  .social{
  	width: 100%;
  	background-color: transparent;
  	overflow: afuto;
  	padding-top: 8px;
  	padding-left: 8px; 

  }
  .content{
  	color: orange;
  	width: 100px;
  	padding: 20px;
  }
.colored{
	    left: 457px;
    color: cyan;
    position: relative;
    top: 131px;
    /* font-weight: bold; */
    font-size: 64px;
	margin-bottom: 10px; 
}
 .colored1{
	text-align: center;
    color: #FF3040;
    /* position: relative; */
   margin-bottom: 10px; 
    font-weight: bold;
    font-size: 64px;
}
.subs{
	
}
.all{
	background-color: #fafafa;
	font-size: 20px;
	padding:9px 10px;
	font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
	line-height: 20px;
	border: none;
	border-top: 1px solid #dcdcdc;
	min-height: auto;
}
.begin{
	padding-left: 230px;
	padding-right: 25px;
	
}

.all1{
	position: absolute;
}
.all1:hover .listing{
  max-height: inherit;
  opacity: 1;
  position: relative;
}
.listing{
	font-family: Times New Roman;
	font-size: 18px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  max-height: 0px;
  overflow: hidden;
  position: relative;
}
/*.end{
	float:right;
	background-image: url('Images/search.png');
     background-size:cover;
            background-repeat: no-repeat; 
}*/
.nav{
	padding-left: 0px;
	padding-right: 25px;
	
}
.img{
	height:30px;
}

ul.breadcrumb{
	padding: 10px 16px;
	list-style: none;
	background-color: none; 
	 padding-left: 72px;

}

ul.breadcrumb li{
	display: inline;
	list-style: none;
	font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;

}
ul.breadcrumb li +li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}
.heading{
	text-align: left;
    font-size: 42px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin: 10px 0;
    font-weight: 500;
    line-height: 1.1;
        padding-left: 72px;

    color: #333;
}
h3+li{
	list-style: none;
}

h3+ul li::before{
  content: "\2022";
  color: orange;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
    }

    .question{
    	line-height: 1.1;
    	padding-left: 60px;
    	padding-top: 25px; 
    	    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    	    font-weight: 500;
    	    color: #333;
    	    list-style: none;
    }
    .answer{
    font-size: 16px;
    line-height: 26px;
    color: #666;
    padding-left: 60px;
    text-align: justify;
    list-style: none;
    margin-bottom: 10px;
}
